.linkedin-btn {
    display: inline-block;
    width: 161px;
    height: 23px;
    background-image: url('images/linkedin-signing.png');
    background-repeat: no-repeat;
}
    .linkedin-btn:hover {
        background-position: 0px -24px;
    }
    .linkedin-btn:active {
        background-position: 0px -48px;
    }